html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  background: #eeeeee;
  color: #333333;
  line-height: 1.5em;
  padding: 0px 20px;
  font-size: 18px;
  font-family: "Titillium Web", sans-serif; }

.textblock {
  max-width: 550px; }

h1 {
  font-size: 30px;
  display: inline; }

p:not(#translation) {
  padding: 10px 0px; }
  p:not(#translation).footnote {
    font-style: italic; }

.abclinks {
  padding: 10px 0px; }
  .abclinks li {
    padding: 0px 3px;
    text-decoration: underline;
    list-style-type: none;
    display: inline;
    cursor: pointer;
    padding-right: 10px; }

#definitions {
  display: block;
  padding-bottom: 20px;
  height: 60vh;
  overflow: auto; }
  #definitions td, #definitions th {
    width: 200px;
    padding-right: 30px;
    padding-top: 10px; }
  #definitions tr {
    text-align: left; }

#heading {
  margin-top: 15px;
  border-top: 1px solid gray;
  display: block; }
  #heading th {
    text-align: left;
    width: 200px;
    padding: 10px 0px;
    padding-right: 30px; }

button {
  display: inline; }

textarea {
  resize: none;
  font-family: "Titillium Web", sans-serif;
  font-size: 18px; }

input, button {
  height: 26px;
  background: #eeeeee;
  color: #333333;
  border: 1px solid gray;
  font-size: 14px;
  font-family: "Titillium Web"; }

input[type=radio] {
  background: #eeeeee;
  color: #333333;
  border: 1px solid gray; }

#search {
  float: right;
  padding: 10px 0px; }

#transbuttons {
  display: block;
  padding-top: 10px; }

label {
  padding-right: 20px; }

#stuff {
  width: 830px;
  height: 200px;
  padding: 15px 0px; }

#english {
  border: 1px solid gray;
  background: #eee;
  color: black;
  width: 400px;
  height: 200px; }

#translation {
  display: inline-block;
  width: 400px;
  height: 200px;
  border: 1px solid gray;
  position: relative;
  background: #eee;
  color: black;
  float: right; }

#header {
  font-family: Electrolize;
  margin: 0px;
  border-bottom: 1px solid gray;
  padding: 20px 0px;
  z-index: 100; }
  #header a {
    text-decoration: none;
    color: #333333; }
    #header a:hover, #header a:visited {
      color: #333333; }

.pgtitle {
  display: none; }

#menu {
  font-size: 30px;
  color: #af4c4c; }
  #menu:hover {
    cursor: pointer;
    color: #e27f7f; }

#dropdown {
  list-style-type: square;
  cursor: default;
  font-size: 16px;
  position: absolute;
  background: #eeeeee;
  margin-top: 20px;
  padding: 20px 30px;
  border: 1px solid gray; }

#dropdown li a {
  color: #af4c4c;
  line-height: 1.5em; }
  #dropdown li a:visited {
    color: #e27f7f; }
  #dropdown li a:hover {
    cursor: pointer;
    color: #4cafaf;
    text-decoration: underline; }

a {
  color: #af4c4c; }
  a:visited {
    color: #e27f7f; }
  a:hover {
    color: #4cafaf; }
