@import "reset";

$font: "Titillium Web";
$fontsize: 18px;

$fg: #333;
$bg: #eee;
$secondary: #4cafaf;
$highlight: #AF4C4C;

body {
    background: $bg;
    color: $fg;
    line-height: 1.5em;
    padding: 0px 20px;
    font-size: $fontsize;
    font-family: $font, sans-serif;
}

.textblock {
    max-width: 550px;
}

h1 {
    font-size: 30px;
    display: inline;
}



p:not(#translation) {
    padding: 10px 0px;
    &.footnote {
        font-style: italic;
    }
}

.abclinks {
    padding: 10px 0px;

    li {
        padding: 0px 3px;
        text-decoration: underline;
        list-style-type: none;
        display: inline;
        cursor: pointer;
        padding-right: 10px;
    }
}

#definitions {
    display: block;
    padding-bottom: 20px;
    height: 60vh;
    overflow: auto;
    
    td, th {
        width: 200px;
        padding-right: 30px;
        padding-top: 10px;
    }

    tr {
        text-align: left;
    }       
}

#heading {
    margin-top: 15px;
    border-top: 1px solid gray;
    display: block;
    th {
        text-align: left;
        width: 200px;
        padding: 10px 0px;
        padding-right: 30px;
    }
}

button {
    display: inline;
}

textarea {
    resize: none;
    font-family: $font, sans-serif;
    font-size: $fontsize;
}

input[type=textarea], input[type=search], button {
    height: 26px;
    background: $bg;
    color: $fg;
    border: 1px solid gray;
    font-size: 14px;
    font-family: $font;
}

#search {
    float: right;
    padding: 10px 0px;
}

#transbuttons {
    display: block;
    padding-top: 10px;
}

label {
    padding-right: 20px;
}

#stuff {
    width: 830px;
    height: 200px;
    padding: 15px 0px;
}

#english {
    border: 1px solid gray;
    background: #eee;
    color: black;
    width: 400px;
    height: 200px;
	float: left;
}

#translation {
    display: inline-block;
    width: 400px;
    height: 200px;
    border: 1px solid gray;
    position: relative;
    background: #eee;
    color: black;
    float: right;
}

#header {
    font-family: Electrolize;
    margin: 0px;
    border-bottom: 1px solid gray;
    padding: 20px 0px;
    z-index: 100;

    a {
        text-decoration: none;
        color: $fg;
        &:hover, &:visited {
            color: $fg;
        }
    }
}

.pgtitle {
    display: none;
}

#menu {
    font-size: 30px;
    color: $highlight;
	font-family: sans-serif;
    &:hover {
        cursor: pointer;
        color: $fg + $highlight;
    }
}

#dropdown {
    list-style-type: square;
    cursor: default;
    font-size: 16px;
    position: absolute;
    background: $bg;
    margin-top: 20px;
    padding: 20px 30px;
    border: 1px solid gray;
}

#dropdown li a {
    color: $highlight;
    line-height: 1.5em;
    &:visited {
        color: $fg + $highlight;
    }  
    &:hover {
        cursor: pointer;
        color: $secondary;
        text-decoration: underline;
    }
}

a {
    color: $highlight;
    &:visited {
        color: $fg + $highlight;
    }   
    &:hover {
        color: $secondary;
    }
}
