.abclinks li{
    list-style-type: none;
    display: inline;
    text-decoration: underline;
    cursor: pointer;
    padding-right: 10px;
}

ul {
    padding-left: 0;
}

button {
    display: block;
}
